@page "/"
@inject ChatService ChatService
@inject NavigationManager Nav
@implements IDisposable

<PageTitle>Chat</PageTitle>

<ChatHeader OnNewChat="@ResetConversationAsync" />

<ChatMessageList Messages="@ChatService.Messages" InProgressMessage="@ChatService.CurrentResponseMessage">
    <NoMessagesContent>
        <div>To get started, try asking about these example documents. You can replace these with your own data and replace this message.</div>
        <ChatCitation File="Example_Emergency_Survival_Kit.pdf"/>
        <ChatCitation File="Example_GPS_Watch.md"/>
    </NoMessagesContent>
</ChatMessageList>

<div class="chat-container">
    <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@chatSuggestions" />
    <ChatInput OnSend="@AddUserMessageAsync" @ref="@chatInput" />
</div>

@code {
    private ChatInput? chatInput;
    private ChatSuggestions? chatSuggestions;

    protected override void OnInitialized()
    {
        ChatService.Initialize();
        ChatService.OnStateChanged += OnChatStateChangedAsync;
        ChatService.OnMessageStreamed += ChatMessageItem.NotifyChanged;
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        chatSuggestions?.Clear();
        await chatInput!.FocusAsync();

        await ChatService.AddUserMessageAsync(userMessage);

        chatSuggestions?.Update(ChatService.Messages);
    }

    private async Task ResetConversationAsync()
    {
        await ChatService.ResetAsync();
        chatSuggestions?.Clear();
        await chatInput!.FocusAsync();
    }

    private async Task OnChatStateChangedAsync()
        => await InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        ChatService.OnStateChanged -= OnChatStateChangedAsync;
        ChatService.OnMessageStreamed -= ChatMessageItem.NotifyChanged;
        ChatService.Dispose();
    }
}
